*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#index{
    width: 100%;
    height: 100vh;
    background-color: rgb(5, 55, 121);
}

.center_box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#btn_start{
    width: 300px;
    height: 70px;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px;
    font-size: 1.5rem;
    font-weight: bold;
    transition: 1s;
}

.category_box{
    position: absolute;
    bottom: 1.5%;
    left: 1.5%;
}

.btn_category{
    margin-right: 5px;
    padding: 1px 3px;
    text-transform: uppercase;
}

#btn_option{
    position: absolute;
    bottom: 1.5%;
    right: 1.5%;
    padding: 2px 10px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0 0 3px;
}

.action_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.action_store{
    width: 45%;
    height: 100%;
}

.action_edit{
    width: 45%;
    height: 100%;
}

.visiable{
    opacity: 1;
    visibility: visible;
    transition: 2.5s;
}

.hidden{
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}

.now{
    opacity: 1;
    visibility: visible;
}

.down{
    transform: translate(0, 100px);
    transition: 1s;
}

.active{
    background-color: red;
}

.animation {
    animation: moveSlideshow .1s linear infinite;
}

@keyframes moveSlideshow {

    100% { 
        transform: translateX(-100px);
    }

}

ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    padding: 15px 0;
    background-color: rgb(128, 223, 230);
    box-shadow: inset 0 0 10px;
}

li{
    list-style-type: none;
    margin: 0 15px;
    background-color: rgb(4, 5, 110);
    padding: 30px 10px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    color: yellow;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 10px grey;
}

li:hover{
    box-shadow: unset;
}

.none{
    display: none;
}

.today_box_show{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background-color: beige;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    font-size: 3rem;
}